<div class="bg-white rounded-circle" title="Скопировать код доступа" (click)="CopyAccessCode()"
     style="position: absolute; top: 10px; left: 10px; z-index: 99">
  <button type="button" class="btn btn-outline-primary btn-circle-sm">
    <i class="bi bi-info-circle"></i>
  </button>
</div>
<div class="container-fluide pt-3 px-4" style="position:relative;height:100%">
  <div class="vh-80 row" style="position:relative;">
    <div [ngClass]="{'col-sm-11 col-12 order-2 order-sm-1':screenState}" [style.display]="screenState ? 'block':'none'" class="screenShare">
      <video autoplay #screenVideo class="screenVideo"></video>
    </div>
    <div [ngClass]="{'col-12':!screenState,'col-sm-1 col-12 order-1 order-sm-2 videoPanel-sm':screenState}" style="overflow:auto;height:81vh">
      <div class="row">
        <div *ngFor="let member of GetPeers()" class=" col-{{currentSize.width}} videoFrame" [ngStyle]="{'height.vh':currentSize.height}">
          <videoframe [member]="member" [state]="member['state']"></videoframe>
        </div>
      </div>
    </div>
  </div>
</div>
<div style="position:absolute;bottom:15px;width:300px;left:50%;margin-left:-150px;" *ngIf="peers['myself']">
  <div style="position:relative">
    <div style="position:absolute;bottom:0px;left:-35px;font-size:32px;opacity:0.5" (click)="showControls=!showControls">
      <i *ngIf="showControls" class="bi bi-arrow-down-circle"></i>
      <i *ngIf="!showControls" class="bi bi-arrow-up-circle"></i>
    </div>
    <div class="row" *ngIf="showControls">
      <div class="col-3" align="center">
        <button type="button" class="btn btn-md rounded-circle border border-2 border-primary text-primary bg-white"
                style="font-size:32px" (click)="ToggleAudio()">
          <i *ngIf="peers['myself'].audioState" class="bi bi-mic"></i>
          <i *ngIf="!peers['myself'].audioState" class="bi bi-mic-mute"></i>
        </button>
      </div>
      <div class="col-3" align="center">
        <button type="button" class="btn btn-md rounded-circle border border-2 border-primary text-primary bg-white"
                style="font-size:32px" (click)="ToggleVideo()">
          <i *ngIf="peers['myself'].videoState" class="bi bi-camera-video"></i>
          <i *ngIf="!peers['myself'].videoState" class="bi bi-camera-video-off"></i>
        </button>
      </div>
      <div class="col-3" align="center">
        <button type="button" class="btn btn-md rounded-circle border border-2 border-primary text-primary bg-white"
                style="font-size:32px" (click)="ToggleScreen()">
          <i *ngIf="!screenState" class="bi bi-window"></i>
          <img *ngIf="screenState" src="../../assets/window-off.svg" style="width:32px;height:32px;margin-top:-8px" />
        </button>
      </div>
      <div class="col-3" align="center">
        <button type="button" class="btn btn-md leave-icon rounded-circle border border-2 border-danger text-danger bg-white"
                style="font-size:32px" (click)="Leave()">
          <i class="bi bi-telephone"></i>
        </button>
      </div>
    </div>
  </div>
</div>
