<div class="container-fluide pt-3 px-4 vh-100">
  <div class="row rounded-lg overflow-hidden shadow">
    <div class="col-md-3 cl-12 vh-100 d-md-block" [ngClass]="{'d-none':!isOpen}">
      <div class="rounded input-group">
        <input type="search" class="form-control rounded" placeholder="Поиск по Никнейму" [(ngModel)]="search" (keyup.enter)="searchUsers()" />
        <span class="input-group-text border-0" id="search-addon">
          <i class="bi bi-search" style="cursor:pointer" (click)="searchUsers()"></i>
        </span>
        <span class="input-group-text border-0" id="search-addon">
          <i style="cursor:pointer" class="bi bi-plus-lg" (click)="openGroupModal(groupModal)"></i>
        </span>
      </div>
      <div class="bg-white" style="overflow-y:auto;height:80%">
        <a *ngFor="let user of usersList; let i = index" class="list-group-item list-group-item-action rounded-0 text-dark" style="max-height: 130px" (click)="selectUser(i,user)" [ngClass]="{'active-user':selectedUser == i}">
          <div class="media">
            <img src="{{user.accountImage}}" alt="user" width="30" class="rounded-circle text">
            <i *ngIf="!user.accountImage" class="bi bi-person-circle" style="font-size: 25px;"></i>
            <div *ngIf="selectedUser != i && user.notViewed != 0" style="width: 27px;position:absolute;top:5px;right:10px" class="text-center small text-white font-weight-bold p-1 bg-primary rounded-circle">{{user.notViewed}}</div>
            <div class="media-body ml-4">
              <div class="d-flex align-items-center justify-content-between mb-1">
                <h6 class="mb-0">
                  {{user.nickName}}
                </h6>
                <small class="small font-weight-bold">{{user.date | date:'shortTime'}}</small>
              </div>
              <p class="font-italic mb-0 text-small" style="white-space:nowrap;overflow:hidden;text-overflow:ellipsis">{{user.content}}</p>
            </div>
          </div>
        </a>
      </div>

    </div>
    <div class="col-md-9 col-12 vh-100 d-md-block" [ngClass]="{'d-none':isOpen}">
      <div class="rounded row text-white" style="min-height: 35px;position:relative; font-size: 18px; background-color: #0275d8">
        <div class="col-6" style="overflow:hidden;text-overflow:ellipsis;white-space:nowrap;">
          <div class="row">
            <div class="col-1" style="line-height:35px">
              <i class="d-md-none bi bi-caret-left" (click)="openUserList()"></i>
            </div>
            <div class="col-10" [style.line-height]="currentUser.email == 'Group'? '35px':'18px'">
              <span>{{currentUser.nickName}}</span>
              <br />
              <span style="font-size:12px">{{currentUser.userActivity}}</span>
            </div>
          </div>
        </div>
        <div class="col-6 text-end action-bar" style="line-height: 35px;">
          <i *ngIf="!videochatDataService.callState" class="bi bi-telephone" (click)="videochatDataService.startCall(currentUser)"></i>
          <i *ngIf="videochatDataService.callState" class="bi bi-x-lg" (click)="videochatDataService.resetCall()"></i>
          <i *ngIf="currentUser.email == 'Group'" class="bi bi-gear" (click)="openGroupSettings(currentUser.id,groupModal)"></i>
        </div>
      </div>
      <div class="px-4 py-5 chat-box bg-white" style="overflow-y:auto" #messagesArea>

        <div *ngFor="let message of messagesList">
          <!--Sender Message-->
          <div class="media mb-3" *ngIf="message.nickName" [ngClass]="{'reciver-image-message':message.type == 1,'reciver-text-message':message.type != 1}">
            <img src="{{message.accountImage}}" alt="user" width="30" class="rounded-circle">
            <span style="margin-left:5px;" class="text-muted">{{message.nickName}}</span>
            <div class="media-body ml-3">
              <div class="bg-light rounded mb-2" align="{{message.type == 1 ? 'center':''}}" [ngClass]="{'py-2 px-3':message.type != 1}">
                <p *ngIf="message.type == 0" class="text-small mb-0 text-break">{{message.content}}</p>
                <img *ngIf="message.type == 1" style="width: 130px;max-height:200px" class="rounded" src="{{message.content}}" (click)="openImage(message.content,imageModal)" />
              </div>
              <p class="small text-muted">{{message.date | date:'shortTime'}}</p>
            </div>
          </div>



          <div class="media ml-auto mb-3" *ngIf="!message.nickName">
            <div class="media-body message-container" style="width:100%" [ngClass]="{'image-message':message.type == 1,'text-message':message.type != 1}">
              <div class="bg-primary rounded mb-2" align="{{message.type == 1 ? 'center':''}}" [ngClass]="{'py-2 px-3':message.type != 1}">
                <p *ngIf="message.type == 0" class="text-small mb-0 text-white text-break">{{message.content}}</p>
                <img *ngIf="message.type == 1" style="width: 150px;max-height:240px;" class="rounded" src="{{message.content}}" (click)="openImage(message.content,imageModal)" />
              </div>
              <p class="small text-muted">{{message.date | date:'shortTime'}}<i *ngIf="message.content != 'Сообщение удалено'" class="bi bi-trash text-dark delete-message" (click)="deleteMessage(message.id)"></i></p>
            </div>
          </div>
        </div>


      </div>

      <div class="typing-area row justify-content-end px-2">
        <div class="col-12 col-md-9">
          <form action="#" class="bg-light">
            <div class="input-group">
              <input type="text" placeholder="Введите сообшение" aria-describedby="button-addon2" class="form-control form-control-sm rounded-0 border-0 py-4 bg-light" name="content" [(ngModel)]="currentMessage.content" (keyup.enter)="sendMessage()">
              <div class="input-group-append">
                <input type="file" style="display:none" (change)="fileSelected($event)" #fileInput multiple />
                <button id="button-addon2" type="submit" class="btn btn-lg btn-link">
                  <i (click)="openFileInput()" class="bi bi-card-image"></i>
                  <!--<span *ngIf="currentFilesLength > 0" class="rounded-circle bg-primary text-white">{{currentFilesLength}}</span>-->


                </button>

                <button id="button-addon2" type="submit" class="btn btn-lg btn-link"><i (click)="sendMessage()" class="bi bi-cursor-fill"></i></button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <ng-template #imageModal let-modal>
    <div class="modal-header">
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
    </div>
    <div class="modal-body row image-scroller">
      <div class="col-1" style="position:relative">
        <i class="bi bi-chevron-left images-toggles" style="left:10px;" (click)="toggleImage('previous')"></i>
      </div>
      <div class="col-10">
        <img class="img-fluid rounded" style="max-height:80vh" src="{{ImagesList[currentImage]}}" />
      </div>
      <div class="col-1" style="position:relative">
        <i class="bi bi-chevron-right images-toggles" style="right:10px" (click)="toggleImage('next')"></i>
      </div>
    </div>
  </ng-template>

  <ng-template #groupModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Настройка группы</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
    </div>
    <div class="modal-body row">
      <div class="col-12 col-md-8 pb-5 order-md-first order-last">
        <input type="text" class="form-control rounded form-control-lg mt-3" placeholder="Название группы" [(ngModel)]="newGroup.name" />
        <div class="mt-5 p-2 border rounded">
          <angular2-multiselect [data]="userGroupList" [settings]="{singleSelection: false, text:'Добавить пользователей',enableSearchFilter: true}" [(ngModel)]="newGroup.users">
            <c-item>
              <ng-template let-item="item">
                <img [src]="item.accountImage" style="width: 30px;" />
                <label style="color: #333;padding-left:15px;font-size:18px">{{item.itemName}}</label>
              </ng-template>
            </c-item>
          </angular2-multiselect>
        </div>
      </div>
      <div class="d-flex flex-column align-items-center text-center p-3 pb-5 col-12 col-md-4 order-first order-md-last">
        <div (mouseenter)="enterImage()" (mouseleave)="leaveImage()" [ngClass]="{'darker':isOnGroupImage}" (click)="openGroupFileInput()">
          <img #groupImage class="rounded-circle" src="{{newGroup.groupImage}}" (error)="groupImage.src='/assets/group.png'" style="width:120px;max-height:120px">
          <i class="bi bi-pencil text-white" [ngClass]="{'icon-mask':isOnGroupImage}" style="font-size:20px;position:absolute"></i>
        </div>
      </div>
    </div>

    <div class="modal-footer justify-content-center">
      <button type="button" class="btn btn-primary" (click)="saveGroup()">Сохранить</button>
    </div>
  </ng-template>  <input type="file" style="display:none" (change)="groupFileSelected($event)" #fileGroupInput />
</div>
