::-webkit-scrollbar { /* chrome based */
  width: 0px; /* ширина scrollbar'a */
  background: transparent; /* опционально */
}

.text-small {
  font-size: 0.9rem;
}

.messages-box,
.chat-box {
  height: 80%;
}

.rounded-lg {
  border-radius: 0.5rem;
}

input::placeholder {
  font-size: 0.9rem;
  color: #999;
}
