<div class="container-fluide pt-3 px-md-4 px-1 h-100" style="position:relative;">
  <div class="btn-group toolbar w-100">
    <button type="button" class="btn btn-outline-primary btn-rounded d-flex" (click)="Reload()">
      <i class="bi bi-arrow-clockwise"></i>
    </button>
    <button type="button" class="btn btn-outline-primary btn-rounded d-flex" (click)="CreateSubject()">
      <i class="bi bi-plus-lg"></i>
      <span class="d-none d-md-block" style="padding-left:5px">Добавить</span>
    </button>
    <button type="button" class="btn btn-outline-primary btn-rounded d-flex" (click)="EditSubject()">
      <i class="bi bi-pencil"></i>
      <span class="d-none d-md-block" style="padding-left:5px">Изменить</span>
    </button>
    <button type="button" class="btn btn-outline-primary btn-rounded d-flex" (click)="DeleteSubject()">
      <i class="bi bi-trash"></i>
      <span class="d-none d-md-block" style="padding-left:5px">Удалить</span>
    </button>
    <div class="input-group w-100">
      <input placeholder="Поиск по названию" type="search" class="form-control" (keyup.enter)="Search()" [(ngModel)]="search" />
      <button class="btn btn-outline-primary d-none d-md-block" (click)="Search()">
        <i class="bi bi-search"></i>
      </button>
    </div>
  </div>
  <div class="scrollable w-100" style="height:90%" #subjectsList>
    <table class="table">
      <thead style="border-bottom: solid 2px #DEE2E6">
        <tr>
          <th scope="col">Название</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let subject of subjects;let i = index " [ngClass]="{'bg-primary text-white':currentRow == i}" class="table-row" (click)="SetSubject(subject,i)" (dblclick)="DblSetSubject(subject,i)">
          <th scope="row">{{subject.name}}</th>
        </tr>
      </tbody>
    </table>
    <div class="text-center">
      <div class="btn-group toolbar">
        <button type="button" class="btn btn-outline-primary btn-rounded d-flex" (click)="PreviousPage()" *ngIf="page > 0">
          <i class="bi bi-chevron-left"></i>
          <span class="d-none d-md-block" style="padding-left:5px">Назад</span>
        </button>
        <button type="button" class="btn btn-outline-primary btn-rounded d-flex" (click)="NextPage()" *ngIf="subjects.length == 50">
          <span class="d-none d-md-block" style="padding-left:5px">Вперед</span>
          <i class="bi bi-chevron-right"></i>
        </button>
      </div>
    </div>
  </div>
</div>

<ng-template #subjectModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{currentSubject.id != 0 ? currentSubject.name:'Новый предмет'}}</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
  </div>
  <div class="modal-body row">
    <div class="d-flex justify-content-center align-items-center h-100 w-100">
      <div>
        <div><label class="labels">Название</label><input type="text" class="form-control" [error]="{Error:errors?.Name,PlaceHolder:'Название'}" [(ngModel)]="currentSubject.name"></div>
      </div>
    </div>
  </div>
  <div class="modal-footer justify-content-center">
    <div class="text-center"><button class="btn btn-primary" type="button" (click)="SaveSubject()">Сохранить</button></div>
  </div>
</ng-template>
